<section class="section projects" id='projects'>
    <div class="container">
        <div class="section-box">
            <div>
                <h3 class="section-title">
                    <span class='n-section-title'>03.</span> {{"FeatureProjects.Title" | translate}}
                </h3>
            </div>

            <div *ngFor='let project of featuredProjects; let i = index' class="d-flex project-container">
                <div class="h-100">
                    <div class="project-box">
                        <h4 class="feature-project"> {{"FeatureProjects.Label" | translate}} </h4>

                        <div class="d-flex justify-content-between">
                            <span class="project-name"> {{project.Title}} </span>

                            <div class="project-links">
                                <a *ngIf="project.ghLink" [href]="project.ghLink" target="_blank" rel="noopener">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a *ngIf="project.demoLink" [href]="project.demoLink" target="_blank" rel="noopener">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                        </div>

                        <div class="project-description-box">
                            <p class="mb-0" [innerHTML]="project.Description"></p>
                        </div>

                        <div class="m-2 w-100">
                            <app-project-gallery [images]="project.imgs" [alt]="project.Title"></app-project-gallery>
                        </div>

                        <ul [class.justify-content-end]='i % 2 === 0' [class.justify-content-start]='i % 2 !== 0'
                            class="project-skills">
                            <li *ngFor='let technology of project.Technologies' class="ml-3">
                                <span class="underline technology">{{technology}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="other-projects" *ngIf="otherProjects.length">
                <h4 class="other-projects-title">{{"FeatureProjects.OtherTitle" | translate}}</h4>

                <div class="other-projects-grid">
                    <div class="other-project-card" *ngFor="let project of otherProjects">
                        <div class="other-project-card-header">
                            <i class="fas fa-folder other-project-icon"></i>

                            <div class="project-links">
                                <a *ngIf="project.ghLink" [href]="project.ghLink" target="_blank" rel="noopener">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a *ngIf="project.demoLink" [href]="project.demoLink" target="_blank" rel="noopener">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                        </div>

                        <span class="other-project-name">{{project.Title}}</span>
                        <p class="other-project-description" [innerHTML]="project.Description"></p>

                        <ul class="other-project-skills">
                            <li *ngFor="let technology of project.Technologies">{{technology}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
