<nav [@animateMenu] class="navbar main-navbar on-top">
    <div class="container">
        <ul ngbNav #nav="ngbNav" class="menu-ul">
            <li ngbNavItem>
                <a ngbNavLink (click)='scroll("about")'><span class='nav-number'>01. </span> <span
                        class="underline nav-text"> {{"Header.Item1" | translate}}</span></a>
                <ng-template ngbNavContent>First content</ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink (click)='scroll("jobs")'><span class='nav-number'>02. </span> <span
                        class="underline nav-text"> {{"Header.Item2" | translate}}</span></a>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink (click)='scroll("projects")'><span class='nav-number'>03. </span> <span
                        class="underline nav-text"> {{"Header.Item3" | translate}}</span></a>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink (click)='scroll("contact")'><span class='nav-number'>04. </span> <span
                        class="underline nav-text"> {{"Header.Item4" | translate}}</span></a>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem>
                <a (click)="downloadCV()" class="main-btn cv-btn" ngbNavLink>
                    {{"Header.cvBtn" | translate}}
                </a>
            </li>
            <li ngbNavItem>
                <a (click)="toggleTheme()" class="main-btn cv-btn" ngbNavLink>
                    Switch Theme
                </a>
            </li>
            <li>
                <div ngbDropdown class="d-inline-block">
                    <div class="language-container" id="dropdownForm1" ngbDropdownToggle>
                        <img *ngIf='languageFormControl.value == "en"' width="20px"
                            src="https://www.worldometers.info/img/flags/us-flag.gif" alt="English">
                        <span *ngIf='languageFormControl.value == "en"' class="flag-text">English</span>

                        <img *ngIf='languageFormControl.value == "fr"' width="20px"
                            src="https://www.worldometers.info/img/flags/fr-flag.gif" alt="Français">
                        <span *ngIf='languageFormControl.value == "fr"' class="flag-text">Français</span>
                        <svg class='arrow-language' xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                        </svg>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <div (click)='changeLanguage("fr")'
                            style='border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;'
                            class="language-container language-container-selector active"
                            [class.active]='languageFormControl.value == "fr"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/fr-flag.gif" alt="Français">
                            <span class="flag-text">Français</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>
                        <div (click)='changeLanguage("en")'
                            style="margin-top: 1px !important; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;"
                            class="language-container language-container-selector"
                            [class.active]='languageFormControl.value == "en"'>
                            <img width="20px" src="https://www.worldometers.info/img/flags/us-flag.gif" alt="English">
                            <span class="flag-text">English</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2 arrow-active" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="link-buttons-container">
                    <a class="link-button" href="https://github.com/Nevyrr" target='_blank'>
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="link-button" href="https://www.linkedin.com/in/cl%C3%A9ment-davin-6baba2180/" target='_blank'>
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>

            </li>
            <li>

            </li>
        </ul>
    </div>
    <img src="assets/images/davin-icon.png" alt="Mon icône" class="davin-icon" />
</nav>